@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&subset=latin-ext');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  base font-size: 18px
  base line-height: 22px
  1.618/Phi is our modular scale:
  https://www.modularscale.com/?18&px&1.618
*/

html {
  background: #222;
  color: #EEE;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}
h1 {
  font-size: 1.618em; /* 29.124 / 18 = 1.618 */
  line-height: 1.5107814861em; /* 44 / 29.124 = 1.5107814861 */
  color: #43b0b7;
}
p {
  padding-bottom: 22px;
}
label {
  color: #43b0b7;
}
a[role="button"] {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

/* Layout */
#form-explainer {
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

@media screen and (min-width: 820px) {
  #content {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

/* Forms */
input,
label,
select,
textarea {
  display: block;
  box-sizing: border-box;
}
input,
textarea,
#eh-submit {
  padding: 0.6111111111em; /* 11 / 18 = 0.6111111111 */;
  margin: 0;
  margin-bottom: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  font-size: inherit;
  line-height: inherit;
  border: 0;
  outline: 0;
  width: 100%;
}
textarea {
  height: 12.2222222222em; /* 10 lines ->  220 / 18 = 12.2222222222 */
}
input[type="submit"],
#eh-submit {
  background-color: #f1660a;
  color: #EEE;
  margin-bottom: 0;
  opacity: 1;
  width: 100%;
  transition: opacity 2s;
}
input[type="submit"]:disabled {
  opacity: 0.5;
}
.hint {
  font-style: italic;
}
.hint b {
  color: #f1660a;
}

#blog-form {
  background: #EEE;
  color: #222;
}

/* Form Layout */
#blog-form ol {
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

/* State */
.hidden {
  display: none;
}

/* Diagnostic CSS */
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

body.g {
  position: relative;
}

body.g::after {
  /* Change the `height` parameter here to match your base line-height. */
  background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 255, 0.8)" /></svg>') repeat top left;

  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

body.g:active::after {
  display: none;
}

@media screen and (min-width: 360px) {
  html {
    padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
    padding: 6%;
  }
}

.fade-out {
  color: rgba(0,0,0,0);
}
.fade-in {
  transition: color 2s;
  color: rgba(0,0,0,1);
}
